doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href='http://176.31.252.134:9001/doc/helpCodes') helpCodes
    a(href='http://176.31.252.134:9001/doc/typeUsers') typeUser
    a(href='http://176.31.252.134:9001/doc/post') post
    a(href='http://176.31.252.134:9001/doc/get') get
    block content
