doctype html
html
  head
    title= 'Dune-API'
    link(rel='stylesheet', href='/stylesheets/style.css')
    block styles
      link(rel='stylesheet', href='/stylesheets/bootstrap.css')

  body
    h1= 'Dune-API'
    div.container
      ul.col-md-12.row
        a(href='http://176.31.252.134:9001/doc/helpCodes')
          li.col-md-3 helpCodes
        a(href='http://176.31.252.134:9001/doc/typeUsers')
          li.col-md-3 typeUser
        a(href='http://176.31.252.134:9001/doc/post')
          li.col-md-3 post
        a(href='http://176.31.252.134:9001/doc/get')
          li.col-md-3 get
    block content
